In [9]:
##The first part of this data science task is to collect data 
##The technique of data collection is web scrappiing by using python beautifulsoup package
##Other packages included can be numpy and pandas
##The above mentioned 2 packages are for data wrangling


#import
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests 

url = 'www.airlinequality.com/airline-reviews/british-airways/page'  # replace with desired website URL
# the newest edition BeautifulSoup for Web Scraping is "lxml"
soup = BeautifulSoup(page.content, "lxml")

In [10]:
# After reading the web content, I decide to create list to store key features
# Key features selected are: reviews, stars, country and date
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect country the reviewer is from
country = []

#create an empty list to collect date the reviewer is from
date = []

In [11]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "lxml")
    
# soup.find_all is a method int he BeautifulSoup library to search for all occurances of a particular HTML ta
# The soup variable refers to a BeautifulSoup object, which is an object that represents the parsed HTML content of a webpage. 
# Please note lxml is the newest edition of web scrapping parser in python
# it is compatible with complex HTML and XML
# lxml is faster and feature-rich
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 29
Error on page 31
Error on page 31
Error on page 33
Error on page 34

In [61]:
#check the length of total reviews extracted
reviews=reviews[0:3471]
len(reviews)

3471

In [63]:
#check the length of total reviews extracted
country=country[0:3471]
len(country)

3471

In [66]:
#check the length of stars
stars=stars[0:3475]
len(stars)

3471

In [67]:
# slightly trim the date list to have same size just like other lists
date=date[0:3471]
len(date)

3471

In [65]:
# Dataframe requires you that each list has the same length
# ALready ensuring all features are in the same length, which is 3471

In [68]:
# now try to create a dataframe
df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [71]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | This was my first time flyin...,1,28th January 2023,United Kingdom
1,✅ Trip Verified | Lots of cancellations and d...,9,24th January 2023,Canada
2,✅ Trip Verified | BA 242 on the 6/2/23. Boardi...,10,24th January 2023,United Kingdom
3,✅ Trip Verified | Not only my first flight in...,10,23rd January 2023,Spain
4,✅ Trip Verified | My husband and myself were ...,10,21st January 2023,United Kingdom

In [72]:
df.shape

(3471, 4)

In [75]:
#Export the data into a csv format
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")